ehthumbs.db
# Compiled Object files
# Folder config file
*.lo
*.obj
$RECYCLE.BIN/
# Precompiled Headers
# Windows Installer files
*.msm
# Compiled Dynamic libraries
*.dylib
*.dll
# =========================
*.smod
# OSX
*.lai
.DS_Store
.AppleDouble
.LSOverride
*.la
# Icon must ends with two \r.
*.lib
# Thumbnails
# Executables
*.out
# Files that might appear on external disk
.Spotlight-V100
