[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = git@github.com:tomseago/ESPAsyncTCP.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = git@github.com:tomseago/ESPAsyncWebServer.git
[submodule "libraries/NeoPixelBus"]
	path = libraries/NeoPixelBus
	url = git@github.com:tomseago/NeoPixelBus.git
[submodule "libraries/Artnet"]
	path = libraries/Artnet
	url = git@github.com:natcl/Artnet.git
[submodule "libraries/AsyncTCP"]
	path = libraries/AsyncTCP
	url = git@github.com:tomseago/AsyncTCP.git
